.auth__input {
    width: 100%;
    background-color: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
    border: none;
    border-bottom: 2px solid rgba(204, 204, 204, 1);
    border-spacing: 13px;
    line-height: 17px;
    font-size: 14px;
    font-weight: 400;
}